<?xml version="1.0"?>
<config>
    <modules>
        <MKleine_Devdebug>
            <version>0.0.1</version>
        </MKleine_Devdebug>
    </modules>
    <global>
        <blocks>
            <mk_devdebug>
                <class>MKleine_Devdebug_Block</class>
            </mk_devdebug>
        </blocks>
        <models>
            <mk_devdebug>
                <class>MKleine_Devdebug_Model</class>
            </mk_devdebug>
        </models>
        <helpers>
            <mk_devdebug>
                <class>MKleine_Devdebug_Helper</class>
            </mk_devdebug>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <mk_devdebug_controller_action_layout_generate_blocks_after>
                        <type>singleton</type>
                        <class>mk_devdebug/observer</class>
                        <method>controller_action_layout_generate_blocks_after</method>
                    </mk_devdebug_controller_action_layout_generate_blocks_after>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
</config>
